.header {
	background: var(--color-blue);
	background: linear-gradient(45deg, var(--color-blue), var(--color-lightBlue)); 
	display: flex;
	align-items: center;
	padding: 30px;

	h1 {
		color: var(--color-white);
		margin: 0 0 8px;
	}

	&__group {
		width: 100%;
	}
}